# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build
/dist

# env & secrets
.env
.env.*
!.env.example
!.env*.example
.env*.local
Local Info.txt
Server Info.txt
*.pem

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db
